img{
    width:280px;
    height: 50px;  
  }
  
ul{
    list-style:none;
}
  
a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    white-space: nowrap;
}
  
  #header{
    display:flex;
    position: relative;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding:5px; 
    background-color:#c2b9a7;  
  }
  
#nav-bar{
    /*padding-left: 50%;*/
    right: 1em;
    position: absolute;
    min-width: 25%;
    
}
  
#links{
  
    display:flex;
    gap: 8%;
  }
  #nav-link{
    padding: 5px;
  }
  
  #form{
    display:flex;
    flex-direction:column;
    width: 30%;
    gap: 10px;
    align-items: center;
    margin-left: 32%;
    margin-top:75px;
  }
  #form h2{
    text-align: center;
    margin-bottom:0px;
  }
  #email{
    width:40%;
  }
  #submit{
    font-size:20px;
    width: auto;
    background-color: #ffdb17;
    border: 0px solid;
    
  }
  
  #features{
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 50px 1fr;
    grid-gap: 50px;
    width:75%;
    margin-left:25%;
    margin-top: 50px;
  }
  #icon-1,#icon-2,#icon-3{
    align-self: center;
  }
  
  #how-it-works{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  #video{
    width: 560px;
    height: 315px;
  }
  
  #pricing{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
  }
  
  #box-1,#box-2,#box-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    padding: 20px;
    position: relative;
    width: 250px;
  }
  #box-title{
    background-color: #a1a09d;
    position: relative;
    top:-20px;
    width:116%;
    text-align: center;
  }
  #select{
    font-size:18px;
    width: 90px;
    height: 40px;
    background-color: #ffdb17;
    border: 0px solid;
    margin-top: 10px;
  }
  
  footer{
    display:flex;
    background-color: #cccbc8;
    justify-content: center;
    width: 60%;
    height: 80px;
    margin-top: 50px;
    margin-left: 20%;
    position: relative;
  }
  
  #final{
    display: flex;
    position: absolute;
    justify-content: center;
    padding-left: 0;
  }
  #final li{
    margin-left: 15px;
  }

  #final li:nth-child(1){
    margin-left: -5px;
  }

  footer span{
    background-color:#737270;
    position: absolute;
    bottom: 20px;
  }
  
  @media (max-width:800px)
  {
    #pricing{
     display: flex;
     gap: 50px;
     flex-direction: column;
     align-items: center;
     margin-top: 50px;
    }
  }
  @media (min-width: 574px) and (max-width: 708px)
  {
    #links{
      gap: 10px;
    }
  }
  